Ôª?<!DOCTYPE html>
<html>
  <head>
    <title>?ÜîÎ£®Í≤å?ù¥?ä∏ Ï±ÑÌåÖÎ∞?</title>
    <style>
        * { 
			margin: 0; 
			padding: 0; 
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		html, body {
			font: 10pt arial;
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}
		div {
			float:left;
			font-size: 12px;
		}
		div#cont{
			width:100%; 
			height:100%;
			overflow-y:auto;
			
		}
        body { 
			font: 13px Helvetica, Arial; 
		}
        form { 
			background: #fff; 
			padding: 3px; 
			position: fixed; 
			bottom: 0; 
			width: 100%; 
			border-color: #000; 
			border-top-style: solid; 
			border-top-width: 1px;
		}
        form input { 
			border-style: solid; 
			border-width: 1px; 
			padding: 10px; 
			width: 85%; 
			margin-right: .5%; 
		}
        form button { 
			width: 9%; 
			background: rgb(130, 224, 255); 
			border: none; 
			padding: 10px; 
			margin-left: 2%; 
		}
        #messages { 
			list-style-type: none; 
			margin: 0; 
			padding: 0; 
		}
        #messages li { 
			padding: 5px 10px; 
		}
        #messages li:nth-child(odd) { 
			background: #eee; 
		}
		#info {
			list-style-type: none; 
			margin: 0; 
			padding: 0;
			color:#ffffff;
		}
		#info li { 
			padding: 5px 10px; 
		}
		.on {
		  position: fixed; /* Sit on top of the page content */
		  width: 100%; /* Full width (cover the whole page) */
		  height: 100px; /* Full height (cover the whole page) */

		  right: 0;

		  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
		  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
		  cursor: pointer; /* Add a pointer on hover */
		  overflow-y:auto;
		}
		.off{
			display: none; /* Hidden by default */
		}
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
	<div id="cont">
		<ul id="messages"></ul>
		<form action="/" method="POST" id="chatForm">
			<input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
		</form>
		<div id="overlay", class="off">
			<ul id="info"></ul>
		</div>
	</div>
	
    
    <script>
			// view keyword Information
			function viewKeywordInfo(info){
				$('#info').empty();
				if($("div#overlay").hasClass("off")==true){
					$("div#overlay").removeClass("off");
					$("div#overlay").addClass("on");
				}
				for(var i=0; i<info.length; i++){
					var info_jo = info[i];
					var keyword = info_jo['keyword'];
					var information = info_jo['information'];
					var info_html = keyword+" : "+information;					
					$('#info').append($('<li>').html(info_html));
				}
			}
			
            var socket = io.connect('http://localhost:3000');
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
				 $('#messages').append($('<li>').html(msg));
            });
			// append the information
			socket.on('information',function(info){
				viewKeywordInfo(info);
			});
			
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
				if(username.indexOf("?ÉÅ?ã¥?Ç¨")==-1){
					var message = '<strong>' + '?ÉÅ?ã¥?Ç¨' + '</strong>: ' + 'Î∞òÍ∞ë?äµ?ãà?ã§. ?ÜîÎ£®Í≤å?ù¥?ä∏?ûÖ?ãà?ã§. Î¨¥Ïóá?ùÑ ?èÑ???ìúÎ¶¥Íπå?öî?';
					$('#messages').append($('<li>').html(message));
				}
            });
			// append text if someone is offline
            socket.on('is_offline', function(username) {
                $('#messages').append($('<li>').html(username));
				if($("div#overlay").hasClass("on")==true){
					$("div#overlay").removeClass("on");
					$("div#overlay").addClass("off");
				}
				$('#messages').empty();
				$('#info').empty();
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
    </script>
  </body>
</html>